extends layout

block content
    header
        h1 Foobar2000 WebUI

    section#controls(class="btn-toolbar row")
        div(class="col-xs-12 col-sm-5 col-md-4 col-lg-3")
            section(class="btn-group")
                each action in playbackActions
                    button(id=action data-action=action class="btn btn-default btn-lg")
                        span(class="glyphicon glyphicon-" + icons[action])
        div(class="col-xs-12 col-sm-5 col-md-4 col-lg-3")
            section(class="btn-group")
                each action in volumeActions
                    button(id=action data-action=action class="btn btn-default btn-lg")
                        span(class="glyphicon glyphicon-" + icons[action])
                button#volumeLevel(class="btn btn-default btn-lg btn-double" disabled) 0.0db

        div(class="col-xs-12 col-sm-2 col-md-4 col-lg-6")
            button#launchFoobar(data-action="launchFoobar" class="btn btn-primary pull-right" disabled) Launch Foobar2000

    section#trackInfo(class="panel panel-default top-buffer")
        div.panel-heading
            h3.panel-title Now playing
        ul.list-group
            li.list-group-item
                span(class="glyphicon glyphicon-user")
                span#artist.list-data
            li.list-group-item
                span(class="glyphicon glyphicon-record")
                span#album.list-data
            li.list-group-item
                span(class="glyphicon glyphicon-music")
                span#track.list-data
            li.list-group-item
                span(class="glyphicon glyphicon-time")
                span#secondsPlayed
                span.separator /
                span#trackLength

    section(id="status" class="alert")
        p#statusText

