doctype 5
html(lang="en" ng-app="FBUI")
    head
        title= title
        meta(name="viewport" content="width=device-width, user-scalable=no")
        script(type="text/javascript", src="/js/vendor/socket.io.min.js")
        script(type="text/javascript", src="/js/vendor/angular.min.js")
        script(type="text/javascript", src="/js/vendor/socket.min.js")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")

    body.container(ng-controller='ConnectivityController')
        block content

    -var port = serverConfig.port; var address = serverConfig.serverAddress;
    script.
        var SERVER_ADDRESS = '#{address}';
        var SERVER_PORT = '#{port}';

    script(type="text/javascript", src="/js/main.js")
    script(type="text/javascript", src="/js/controllers.js")
    script(type="text/javascript", src="/js/services.js")
    script(type="text/javascript", src="/js/filters.js")
