doctype html
html(lang="en" ng-app="FBUI")
    head
        title= title
        meta(name="viewport" content="width=device-width, user-scalable=no")
        script(type="text/javascript", src="/vendor/socket.io.min.js")
        script(type="text/javascript", src="/vendor/angular.min.js")
        script(type="text/javascript", src="/vendor/angular-animate.min.js")
        script(type="text/javascript", src="/vendor/socket.min.js")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")

    body.container(ng-controller='ConnectivityController')
        block content

    -var port = serverConfig.port; var address = serverConfig.serverAddress;
    script.
        var SERVER_ADDRESS = '#{address}';
        var SERVER_PORT = '#{port}';

    script(type="text/javascript", src="/ui.js")
