.separator{
	margin:0 5px;
}

.list-group-item .glyphicon{
	margin-right:7px;
}

.track-number{
	color:#999;
}

.top-buffer{
	margin-top:20px;
}

.debug{
    background:#FFFFB7;
}

.debug span{
    padding:3px;
    margin:0 3px;
}

@media (max-width: 768px) {
    .btn-group{
        margin-top:10px;
        width:100%;
    }

    .btn-group .btn{
        width:20%;
    }

    .btn-group .btn-double{
        width:40%;
    }

    .btn.pull-right{
        margin-top:10px;
        width: 100%;
    }
}

@media (max-width: 350px){
    h1{
        font-size:28px;
    }
}
