*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: var(--color-bg-app);
    color: var(--color-text);
    font-family: var(--font-family-body);
    line-height: var(--line-height-text);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: var(--spacing-m);
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
}

h2 {
    margin-top: var(--spacing-l);
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

h3 {
    margin-top: var(--spacing-m);
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-heading);
    letter-spacing: 1px;
    word-wrap: break-word;
}

h2 + h3 {
    margin-top: 0;
}

hr {
    border: 1px solid var(--color-bg-box);
    border-radius: var(--border-radius);
    width: 100%;
}

img {
    width: 100%;
}

li {
    padding: var(--spacing-xxs) 0;
}

button {
    background: var(--color-bg-box);
    color: var(--color-primary);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
}

button:hover,
button:active {
    color: var(--color-primary-active);
}
