.app {
    width: 100%;
    height: 100%;
}

.app__init {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.app__wrapper {
    width: 100vw;
    max-width: var(--app-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-s);
}

@media (max-width: 480px) {
    .app__wrapper {
        height: calc(var(--vh, 1vh) * 100);
        max-height: calc(var(--vh, 1vh) * 100);
        max-width: 100vw;
        overflow: hidden;
    }
}
