/*
    TODO: center content and figure out the min height so that 'stopped' presentation is proportional to the regular presentation
*/

.track-details,
.track-details--stopped {
    padding: var(--spacing-s);
    font-size: var(--font-size-h3);
}

.track-details--stopped {
    text-align: center;
    font-weight: var(--font-weight-bold);
}

.track-details__info {
    list-style: none;
    padding: 0;
    text-align: center;
}

.track-details__time {
    text-align: center;
}

.track-details__info__track,
.track-details__info__artist,
.track-details__info__album {
    padding: var(--spacing-xs) var(--spacing-s) 0;
}

.track-details__info__track {
    font-weight: var(--font-weight-bold);
}

.track-details__info__artist {
    color: var(--color-highlight);
}

.track-details__info__track__number {
    color: var(--color-text-muted);
    margin-right: var(--spacing-xs);
}
