.separator{
	margin:0 5px;
}

.list-group-item .glyphicon{
	margin-right:7px;
}

.track-number{
	color:#999;
}

.top-buffer{
	margin-top:20px;
}

.alert.ng-hide-add, .alert.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.alert.ng-hide-add.ng-hide-add-active,
.alert.ng-hide-remove {
  opacity:0;
}

.alert.ng-hide-add,
.alert.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

@media (max-width: 768px) {
    .btn-group{
        margin-top:10px;
        width:100%;
    }

    .btn-group .btn{
        width:20%;
    }

    .btn-group .btn-double{
        width:40%;
    }

    .btn.pull-right{
        margin-top:10px;
        width: 100%;
    }
}

@media (max-width: 350px){
    h1{
        font-size:28px;
    }
}
